.btn-scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.btn-scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.nut-scroll-thinh {
    margin-left: 10px;
}
