/* Signup.css */

/* Background image */
.bg-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Card styling */
.signup-card {
  margin: 0 auto;
  max-width: 600px;
  border-radius: 1rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  -webkit-backdrop-filter: blur(10px); /* Support for Safari 9+ */
  backdrop-filter: blur(10px); /* Standard property */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}
/* eye icon */
.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
  font-weight: 700;
}

/* Form input wrapper */
.input-wrapper-sign {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-wrapper-sign .input-icon {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

/* Checkbox wrapper */
.checkbox-wrapper {
  margin-bottom: 1.5rem;
  padding-right: 10px;
}

.checkbox-wrapper input{
  margin-right: 5px;
}

/* Button styling */
.signup-button {
  background-color: #0f7fc1;
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-button:hover {
  background-color: #0a5b8d;
}

/* Social buttons */
.social-buttons {
  margin-top: 1.5rem;
  text-align: center;
}

.social-buttons .btn {
  margin-right: 0.5rem;
}

.social-buttons .btn:last-child {
  margin-right: 0;
}

.google-signup-button {
  display: inline-flex;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #dd4b39;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 auto;
}

.google-signup-button:hover {
  background-color: rgb(161, 47, 9);
}

.google-icon {
  margin-right: 0.5rem;
}

.terms-link {
  margin-left: 5px;
  margin-right: 5px;
  color: #0f7fc1;
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.OTP-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  height: 40%;
}

.icon-container {
  margin-bottom: 10px;
}

.otp-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.google-button-signup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.checkbox-label-tri {
  font-weight: normal;
  font-size: 14px;
  
}