.modal-edit-promotion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-edit-promotion {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* Increased width to accommodate more columns */
    max-width: 700px; /* Max width for better responsiveness */
    position: relative;
}

.close-edit-promotion {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content-edit-promotion h2 {
    margin-top: 0;
}

.modal-content-edit-promotion form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
}

.modal-content-edit-promotion .form-group {
    flex: 1;
    min-width: calc(50% - 20px); /* Two columns with space between */
}

.modal-content-edit-promotion .form-group.half {
    min-width: calc(33.33% - 20px); /* Three columns with space between */
}

.modal-content-edit-promotion form label {
    display: block;
    margin-bottom: 5px;
}

.modal-content-edit-promotion form input,
.modal-content-edit-promotion form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.modal-content-edit-promotion form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.modal-content-edit-promotion form button:hover {
    background-color: #45a049;
}

.current-image {
    border: 1px solid #ccc;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
    padding: 20px;
}
.save-editpromotion {
    margin-left: 610px;
}