.modal-thinhprostedit3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-thinhprostedit3 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-thinhprostedit3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-thinhprostedit3:hover,
.close-thinhprostedit3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
