.pro-prom-list-thinh:hover {
    padding: 5px;
}
.pro-prom-list-thinh {
    border: 2px;
}
.sticky-row {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 16px 0;
}
