.modal-overlay-thinhprost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-thinhprost {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh; /* Limit the height of the modal */
    position: relative;
}

.close-button-thinhprost {
    position: absolute;
    top: 10px;
    left: 95%;
    cursor: pointer;
    font-size: 1.5rem;
}
.modal-content-thinhprost img {
    width: 40%;
    height: 60%;
}
.modal-thinh-anh-thinhprost {
    padding-left: 200px;
}
