.sidebar-container-st-thinh {
  width: 270px;
  background-color: rgb(255, 255, 255); /* Darker shade */
  display: flex;
  flex-direction: column;
  min-height: 50vh; /* Ensures the sidebar takes the full height of the viewport */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.sidebar-st-thinh {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-st-thinh a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-st-thinh a:hover {
  background-color: #9bd5f7;
  color: black;
}

.sidebar-st-thinh .active-st-thinh {
  background-color: #5fbbf1; /* Change to desired active color */
  color: black; /* Change to desired active text color */
}

.card-st-thinh {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}

.card-st-thinh h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.card-st-thinh p {
  font-size: 18px;
  margin: 0;
}

.stats-st-thinh {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bang-st-thinh {
  height: 100%;
  width: 250px;
  background-color: #ff9c1a; /* Darker shade */
}

.dropdown-content-st-thinh {
  display: none;
  padding-left: 10px;
  animation: slideDown 0.6s ease;
}

.dropdown-content-st-thinh.active {
  display: block;
  animation: slideDown 0.6s ease; 
  margin-left: 5px;
}

.dropdown-content-st-thinh.hidden {
  display: none;
  animation: slideUp 0.6s ease; /* New animation for hiding */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.icon-staff-slidebar {
  vertical-align: middle;
}
