.staff-chat-container {
  display: flex;
  max-height: 96%;
  margin: 20px 10px 0px 0px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.chat-room-list {
  width: 30%;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.chat-room-list h4 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 22px;
  background-color: #4a90e2;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: bold;
  height: 13%;
  font-size: 1.2em;
}

.chat-room-list ul {
  overflow-y: auto;
  cursor: pointer;
  padding: 0;
  list-style: none;
  margin: 0;
  max-height: 68vh;
}

/* Tùy chỉnh thanh cuộn cho ul trong Danh sách khách hàng */
.chat-room-list ul::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của thanh cuộn */
}

.chat-room-list ul::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của thanh cuộn */
  border-radius: 10px;
}

.chat-room-list ul::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Màu của thanh cuộn */
  border-radius: 10px;
}

.chat-room-list ul::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1; /* Màu của thanh cuộn khi hover */
}

.chat-room-list ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
}

.chat-room-list ul li:hover {
  background-color: #e6f7ff;
}

.chat-window-and-rooms {
  flex: 1;
  display: flex;
}

.chat-window-container {
  flex: 1;
}

.notify-chat {
  color: red;
  float: right;
  font-weight: bolder;
}

.tbao-chat-st-thinh {
  padding-left: 200px;
  padding-top: 120px;
  font-size: 18px;
  color: rgb(181, 181, 181);
  font-weight: 500;
}

.unread-count {
  float: right;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 12px;
  margin-left: 8px;
  display: inline-block;
  min-width: 18px;
  text-align: center;
}
