.staff-chat-container {
  display: flex;
  height: 96%;
  margin: 20px 10px 0px 0px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.chat-room-list {
  width: 30%;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Đảm bảo thanh cuộn dọc xuất hiện */
  height: 100%;/* Hoặc một giá trị cố định như 500px */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-room-list h4 {
  margin: 0;
  padding: 15px;
  background-color: #4a90e2;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.chat-room-list ul {
  cursor: pointer;
  padding: 0;
  list-style: none;
  margin: 0;
  max-height: 55vh;
}

.chat-room-list ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
}

.chat-room-list ul li:hover {
  background-color: #e6f7ff;
}

.chat-window-and-rooms {
  flex: 1;
  display: flex;
}

.chat-window-container {
  flex: 1;
}

.notify-chat {
  color: red;
  float: right;
  font-weight: bolder;
}

.tbao-chat-st-thinh {
  padding-left: 200px;
  padding-top: 120px;
  font-size: 18px;
  color: rgb(181, 181, 181);
  font-weight: 500;
}

.unread-count {
  float: right;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 12px;
  margin-left: 8px;
  display: inline-block;
  min-width: 18px;
  text-align: center;
}
