
.menu_cate-trid {
  margin-top: 20px;
  border: 10px;
  border-radius: 10px;
  
}

.category_table-trid {
  margin-left: 80px;
  width: 80%;
  border: 10px;
  border-radius: 10px;
  margin-right: 200px;
}

.body {
  margin-right: auto;
}



/* Mỗi hàng trong bảng danh mục */
.category_table-trid tbody tr:nth-child(even) {
  background-color: #f0f0f0; /* Màu nền cho các hàng chẵn */
}

.category_table-trid tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Màu nền cho các hàng lẻ */
}

/* Màu nền của ô khi di chuột qua */
.category_table-trid tbody tr:hover td {
  background-color: #ff6a00; /* Màu hồng khi di chuột qua */
}

.cate_li_title-trid {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}


.icon_danhmuc-trid {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.img_icon-trid {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
