/* News.css */
.box-banner {
  width: 100%;
  margin: 0 auto;
}

.main-banner {
  text-align: center;
  margin-bottom: 20px;
}

.main-banner img {
  max-width: 100%;
  height: auto;
}

.center-promotion {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.box-menu-prom ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-menu-prom ul li {
  width: 48%;
  margin-bottom: 20px;
}

.box-menu-prom ul li img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tgkm-promo {
  text-align: center;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 10px 10px;
}

.bg-head {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.ds-spm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-spm {
  width: 23%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.item-spm a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.item-spm img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.percent {
  
    position: absolute;
    top: 10px;
    color: black;
    font-size: 15px;
    text-align: center;
    right: 13px;
    font-family: Arial, Tahoma;
    font-weight: bold !important;
    background: #f72f2f;
    padding: 3px 7px;
    z-index: 9;
    border-radius: 3px;
}


.id-sp, .price {
  display: block;
  font-size: 14px;
  color: #666;
}

.price-home {
  text-decoration: line-through;
  margin-right: 10px;
}

.price-sell {
  color: red;
  font-weight: bold;
}
