.reset-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #f3f4f6; /* gray-100 */
  }
  
  .success-message {
    color: #111827; /* gray-900 */
    font-size: 1.5rem; /* 2xl */
    text-align: center;
  }
  
  .reset-form {
    background-color: #fff; /* white */
    color: #111827; /* gray-900 */
    padding: 2rem; /* 8 */
    border-radius: 0.5rem; /* large */
    border: 2px ; /* emerald-600 */
    box-shadow: 0 10px 10px rgba(127, 126, 126, 0.1); /* shadow */
    width: 100%;
    max-width: 500px;
  }
  
  .title {
    color: #111827; /* gray-900 */
    font-size: 2rem; /* 4xl */
    text-align: center;
    margin-bottom: 1rem; /* 4 */
  }
  
  .icon-container {
    background-color: #fff; /* white */
    color: #10b981; /* emerald-500 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem; /* 16 */
    height: 4rem; /* 16 */
    padding: 1rem; /* 4 */
    border-radius: 50%;
    margin: 0 auto 1rem; /* auto vertical center, 4 bottom */
  }
  
  .otp-label,
  .phone-label {
    color: #111827; /* gray-900 */
    font-weight: bold;
    font-size: 1.5rem; /* 2xl */
    text-align: center;
    display: block;
    margin-bottom: 1rem; /* 4 */
  }
  
  .otp-input-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* 2 */
    margin-top: 1rem; /* 4 */
  }
  
  .otp-button,
  .send-otp-button {
    background-color: #059669; /* emerald-600 */
    color: #fff; /* white */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem; /* 3 4 */
    border-radius: 0.375rem; /* rounded */
    transition: background-color 0.3s;
    margin-left: 105px;
    margin-top: 1.25rem; /* 5 */
    cursor: pointer;
    border: none;
  }
  
  .otp-button:hover,
  .send-otp-button:hover {
    background-color: #047857; /* emerald-700 */
  }
  
  .otp-button .animate-spin,
  .send-otp-button .animate-spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .phone-input-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* 4 */
  }
  
  .react-tel-input .form-control {
    width: 100%;
    
    border-radius: 0.375rem; /* rounded */
    border: 1px solid #d1d5db; /* gray-300 */
  }
  
  .react-tel-input .selected-flag {
    
    border-radius: 0.375rem; /* rounded */
    padding: 0.25rem; /* 1 */
  }
  