.voucher-wrapper {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.voucher-store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
   /* Position relative for absolute positioning of pagination buttons */
}

.voucher-item {
  position: relative; /* Ensure relative positioning for absolute popup */
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: left;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: coral;
  border-radius: 15px;
}

.voucher-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination-controls {
  position: absolute;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.prev-page-button,
.next-page-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.prev-page-button:disabled,
.next-page-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.prev-page-button:hover:not(:disabled),
.next-page-button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: scale(1.1);
}

.prev-page-button::before {
  content: "❮ ";
}

.next-page-button::after {
  content: "❯";
}

.voucher-wrapper h1 {
  color: orange;
  font-size: 30px;
}