.header-navbar {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Staff-navbar {
    border-radius: 0px;
    background-color: #007BFF;
    width: 100%;
    padding: 0;
}

.header-navbar .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-navbar {
    display: flex;                    
    align-items: center;
    width: 100%;
}

.search-navbar {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
}

.button-navbar {
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    background-color: #ffae33;
    color: #ccc;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 14px;  /* Reduced font-size */
    outline: none;
    height: 50px;
    padding-bottom: 30px ;
    margin-top: 20px;
    align-self: center;
    margin-bottom: 20px;
    margin-left: 30px;
}

.button-navbar:hover {
    color: white;
}

.search-bar span {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    max-width: 300px;  /* Reduced max-width */
    margin: 0 auto;
    padding: 5px;  /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 5px;  /* Reduced padding */
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: 14px;  /* Reduced font-size */
    outline: none;
}

.button-bell {
    width: 40px;          /* Adjust the size as needed */
    height: 40px;         /* Adjust the size as needed */
    background-color: #007BFF;
    border: none;
    border-radius: 5px;   /* Optional: Adds slight rounding to corners */
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;      /* Adjust the font size as needed */
    outline: none;
    padding: 0;       
}

.icons button:hover {
    background-color: #0056b3; /* Slightly darker shade for hover effect */
}

.Staff-navbar {
    /* margin-left: 0;
    margin-right: 0; */
    width: 100%;
}


.box_search {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  
  .box_search form {
    display: flex;
    width: 100%;
    max-width: 500px;
  }
  
  .box_search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .box_search button {
    background-color: #f8b400;
    border: none;
    padding: 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .box_search button i {
    color: #fff;
  }
  .nav-search:hover{
    background-color: #e28c00;
  }