.sidebara {
    width: 200px;
    background-color: #ffae33;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    height: 100%;
}

.sidebara a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebara a:hover {
    background-color: #ddd;
    color: black;
    width: 240px;
}

.admin-slidebar {
    width: 240px;
    background-color: #ffae33;
}

.manage-ad-thinh {
    padding-left: 55px;
}
