/* src/ManageAdmin.css */
.table-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-add-accad {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #aba7a7;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button-add-accad .btn {
  color: #ffffff;
}

.button-add-accad .btn:hover {
  color: #000;
}

.account-table {
  width: 80%;
  border-collapse: collapse;
  margin: 60px 0 20px; /* Adjusted margin to account for button placement */
  font-size: 1em;
  text-align: left;
}

.account-table thead tr {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
  font-weight: bold;
}

.account-table th,
.account-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.account-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.account-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.account-table tbody tr:last-of-type {
  border-bottom: 2px solid #ddd;
}

.account-table tbody tr:hover {
  background-color: #f1f1f1;
}

.button-add-accad{
  padding-right: 125px;
  padding-top: 95px;
}