.discount-badge-thinh {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 10;
}
.hd-thinh {
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}
.con-hd-thinh {
    padding-left: 25px;
}
.product_detail-all-thinh {
    background-color: white;
}
