.related-products-minith {
    margin-top: 20px;
    background-color: white;
    border-radius: 4%;
}

.related-products-minith h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.related-products-minith ul {
    list-style-type: none;
    padding: 0;
}

.related-product-item-minith {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-image-minith {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.product-image-minith img {
    width: 100%;
    height: auto;
}

.discount-badge-thinh-minith {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: red;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.8em;
}

.product-details-minith {
    margin-left: 20px;
    flex-grow: 1;
}

.product-details-minith h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    max-width: 200px; /* Adjust as needed */
    word-wrap: break-word; /* Allows long words to wrap to the next line */
    overflow-wrap: break-word; /* Allows long words to wrap to the next line */
}

.product-price-minith {
    font-size: 1em;
    margin: 5px 0;
    color: #fd6a02;
    font-weight: bold;
}

.price-show-minith {
    color: red;
    font-weight: bold;
}

.old-price-minith {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.product-stock-minith {
    color: green;
}
