.sidebar-producthot {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sidebar-producthot h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.recommended-article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.recommended-article:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.recommended-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.recommended-content {
  flex-grow: 1;
  padding-left: 20px;
}

.recommended-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.recommended-pricing {
  display: flex;
  align-items: center;
}

.discount-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff6a00;
  margin-right: 10px;
}

.original-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #999;
}

.discount-badge {
  background-color: #e74c3c;
  color: white;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  position: absolute;
  margin-bottom: 60px;
  margin-left: 25px;
}
.orange-price {
  color: orange;
  font-weight: bold;
}
